name: Publish Plugin Interface

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish-interface:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@opendexcom'
      
      - name: Install and Build Interface
        run: |
          npm install
          npm run build

      - name: Publish Interface
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
